# Application
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=task_management

# JWT
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=365d

# CORS
FRONTEND_URL=http://localhost:5173